@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --bg-color: #e5eff8;
  --text-color: #000000;
  --button-bg: #e2e8f0;
}

.dark {
  --bg-color: #1a202c;
  --text-color: #ffffff;
  --button-bg: #4a5568;
}


body {
  font-family: "Karma", serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
